<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <h1>
    <i class="fa fa-picture-o" aria-hidden="true"> </i>
    Gallery
  </h1>
  </div>
<div id="content">

content

  <div id="canvas-frame">
    <div id="canvas"></div>

  </div>

  <div id="pallet">
    <button>normal</button>
    <button>grey</button>
    <button>sepia</button>
  </div>


  <div id="carousel">
    <ul>
      <li>
        img1
      </li>
      <li>
         img2
      </li>
      <li>
        <button id="add-new-btn">
          <i class="fa fa-plus-square" aria-hidden="true"> </i>
          <input type="file" accept="image/*" (change)="onChange($event)"/>
        </button>

      </li>
    </ul>
  </div>

</div>


